
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>

<p>Student s tim matičnim brojem nije upisan. Pritisnite Dodaj studenta za njegov unos.</p>

<div>
    <a asp-action="Index" asp-controller="Home">Nazad</a>
</div>

