@{
    ViewData["Title"] = "O PINRezultatima";
}
<h1>@ViewData["Title"]</h1>

<p>PINRezultati je web aplikacija u koju možete dodavati studente i njihove ocjene te vidjeti 
   njihovu zaključnu ocjenu te tražiti pojedinog studenta po njegovom studentskom matičnom broju.</p>

<a asp-action="Index">Nazad</a>